
:root{
	--color-naranja:#ffaf70;
	--color-titulos:#333;
	--color-gris:#f2f4ec;
	--color-hover-menu:#eee;
	--bg-footer:#1a2130;
	--bg-header:#ff5f6d;
	--color-primario:#f75160;
	--bg-sections:#faf9ff;
}
header{
	font-size: 14px;
	color: #000000;
    padding: 10px 0;
	margin-top: 0;
	margin-bottom: 10px;
	width: 100%;
	height: auto;
	display: table;
	background-color: #fff;
}
header a{
	color: #000;
}

body{
	font-size: 14px;
	color: #888;
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: bolder;
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	color:#333;
}

.raleway {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: bolder;
	font-style: normal;
}

#navbarNav{
	font-size: 14px;
	color: #000000;
	padding: 20px 0px 50px 0px;
	margin: 20px;
}

#hero-title {
	text-align: center;
	padding: 90px 0px 10px 0px;
	margin: 20px;
}

#hero p{
	background-color: #ffda79;
	border-radius: 5px;
	text-align: left;
	color: #000;
	margin-bottom: 20px;
}

#hero{
	margin-top: 100px;
	text-align: left;
}

#hero h1{
	margin-bottom: 20px;
}

#hero title img{
	margin-top: 30px;
}

#clients {
	text-align: center;
	padding: 100px 0px;
  }

#clients img{
	  opacity: 0.5;
  }

#about{
	background-color: #cce4e4;
	padding: 100px;
	color: #333;
  }

#about .fondo {
	background-color: #c1dada;
	padding: 4px 1px;
	margin-bottom: 40px;

  }

#about h2{
 	margin-bottom: 40px;
  }
  
#countries{
	text-align: center;
	padding: 80px;
	
  }

#contries h2{
	margin-bottom: 40px;
}

#countries h5{
	color: #333;
	background-color: #ffda79;
	border-radius: 5px;
	margin-bottom: 20px;
  }

#subscribe {
	text-align: center;
	background-color: #d6bbf6;
	padding: 110px;
}

#subscribe h3 {
 	text-align: left;
  }
  
#subscribe p{
	text-align: left;
	color: #4e4e4e;
}

#subscribe .btn-primary{
	background-color: #333;
	color: #fff;
	padding: 10px 70px;
}

footer{
	background-color: #fff;
	text-align: center;
	padding: 50px;
}
footer h4{
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}
.text-logo{
	font-size: 16px;
	font-weight: 500;
	margin-top: 10px;
}
footer ul{
	padding: 0;
	list-style: none;
	color: #000;
}
footer ul a{
	text-decoration: none;
	font-weight: 500;
}
footer li{
	margin-bottom: 10px;
}
footer i{
	font-size: 30px;
}



.btn:hover{
	background-color: #4e4e4e;
}




